
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;	
}

section {
    position: relative;
    min-height: 100vh;
    background-image: url('img/psuz.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.navcover {
    /* background-image: url('img/Banner.png'); */
    /* background-size: cover;
    background-position: center; */
	
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  
	/* -webkit-filter: hue-rotate(240deg); filter: hue-rotate(240deg);   */
}

.container {
	width: 100%;
	min-height: 100vh;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
	overflow: hidden; 
	padding-top: 100px;
}



.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	/* background-color: #ffda27; */
	background-image:linear-gradient(0deg, rgb(2, 3, 129) 25%, rgb(40, 116, 252) 100%);
	position: sticky;
	
}

.logo h3 {
	color: #000;
    font-size: 22px;
    font-weight: 900;
	width: 50px;
	cursor: pointer;
	margin: 30px 0;
}

.logoz img{
	/* -webkit-filter: hue-rotate(0deg); filter: hue-rotate(0deg);   */
	width: 50px;
	cursor: pointer;
	margin: 10px 0;
	margin-left: 150px;
	
}

.logo span {
	color: #010202;
}

.menu-icon {
	width: 22px;
	cursor: pointer;
	display: none;
}

.menu-icon:hover {
	color: #5995fd;
}

nav {
	flex: 1;
	text-align: right;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	margin-right: 30px;
}


nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fcfbfb;
	font-size: 17px;
	font-weight: 400;
	transition: 0.3s;
}

nav ul li a:hover {
	color: #4481eb;
	border-bottom: 2px solid #5995fd;
}


.row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 25px 0;
}

.col-1 {
	flex-basis: 40%;
	position: relative;
	margin-left: 50px;
}

.col-1 h2 {
	color: white;
	font-size: 43px;
	font-weight: 500;
}

.col-1 h3 {
	font-size: 28px;
	color: #707070;
	font-weight: 100;
	margin: 20px 0 10px;
}

.col-1 p {
	font-size: 18px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	padding-top: 10px;
	font-weight: 300;
}

.col-1 h4 {
	margin: 30px 0;
	font-size: 20px;
}

button {
	width: 140px;
	border: 0;
	padding: 12px 10px;
	outline: 500;
	color: #fff;
	font-weight: 500;
	background-image: linear-gradient( -45deg, #4d84e2 0%, #04befe 100%);
	border: 1px solid #e0e4e8;
	border-radius: 6px;
	cursor: pointer;
	transition: width 0.5s;
}

button a {
	text-decoration: none;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
}

button img {
	width: 30px;
	display: none;
}

button:hover img {
	display: block;
}

button:hover {
	width: 170px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.col-1::after {
	content: '';
	width: 10px;
	height: 60%;
	background-image: linear-gradient(-45deg, #4d84e2 0%, #04befe 100%);
	position: absolute;
	left: -40px;
	top: 8px;
}

.col-2 {
	position: relative;
	flex-basis: 50%;
	display: flex;
	align-items: center; 
}

.col-2 .vector {
	width: 80%;
	margin-top:30px;	
}

.color-box {
	position: absolute;
	right: 150;
	top: -10;
	background-image: linear-gradient(-45deg, #0927d8 0%, #04befe 100%);
	border-radius: 20px 0 0 20px;
	height: 100%;
	width: 70%;
	z-index: -1;
	transform: translateX(150px);
	
	
}

.signup-btn img {
	width: 35px;
	margin-bottom: 5px;
	color: #fff;
}

.signup-btn p {
	color: #fff;
	font-weight: 500;
}
.signup-btn {
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.social-links {
	padding-top: 0px;
	text-align: center; 
}

.social-icon {
	font-size: 20px;
	margin-right: 50px;
	cursor: pointer;
    text-decoration: none;
	color: #000;
	transition: 0.5s;
	transition-property: color;
}

.social-icon:hover {
	color: #5995fd;
}


/*Responsive part*/

@media only screen and (max-width: 780px){
nav ul {
	width: 100%;
	background: linear-gradient(90deg, rgba(4,190,254,1) 0%, rgba(47,50,58,0.6474964985994398) 0%);
	opacity: 10;
	position: absolute;
	top: 75px;
	right: 0;
	z-index: 2;
}

.logoz img{
	/* -webkit-filter: hue-rotate(0deg); filter: hue-rotate(0deg);   */
	width: 50px;
	cursor: pointer;
	margin: 10px 0;
	margin-left: 220px;
	
}
	
nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
	
nav ul li a {
    color: #fff;
}
	
.menu-icon {
	display: block;
}	
	
#menulist {
	overflow: hidden;
	transition: 0.5s;
}
	
.row {
	flex-direction: column-reverse;
	margin: 50px 0;
}
	
.col-2 {
	flex-basis: 100%;
	margin-bottom: 50px;
}
	
.col-2 .vector {
    width: 77%;
}
	
.color-box {
	transform: translateX(75px);
}
	
.col-1 {
	flex-basis: 100%;
	margin-top: -10px;
}
	
.col-1 h2 {
	font-size: 30px;
}
	
.col-1 p {
	font-size: 15px;
}
	
.social-links {
	margin-top: 10px;
}
}

