@media screen and (max-width: 780px){
    .sidebar {
        display: none;
    }
        
    #sidebar_btn {
        display: none;
    }
        
    .content {
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }
        
    #check:checked ~ .content {
        margin-left: 0  ;
    }
        
    .mobile_nav {
        display: block;
        width: calc(100% - 0%);
    }
        
    .nav_bar {
        background-image: linear-gradient(0deg, rgb(2, 3, 129) 30%, rgb(40, 116, 252) 100%);
        width: (100% -0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
        
    .nav_bar .mobile_profile_image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
        
    .nav_bar .nav_btn {
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }
        
    .nav_bar .nav_btn:hover {
        color: #001c76;
    }
        
    .mobile_nav_items {
        background: #2F323A;
        display: none;
    }
        
    .mobile_nav_items a {
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }
        
    .mobile_nav_items a:hover {
        background: #05008a;
    }
        
    .mobile_nav_items i {
        padding-right: 10px;
    }
        
    .active {
        display: block;
    }
    table {
        font-size: 13px;
        width: 80%;
        height: auto;
    } 
    
    tr {
        border-bottom: 1px solid #cbcbcb;
        width: 50px;
    }
        
    th, td {
        border: none;
        height: 30px;
        padding: 5px;
    }
    
    form {
        width: 80%;
        height: auto;
    }
    }